Source: ffmpeg
Section: video
Priority: optional
Maintainer: Your Name <your@email.com>
Build-Depends: debhelper (>= 9), cmake, yasm, libass-dev, libvpx-dev, libx264-dev, libx265-dev, libnuma-dev, libvorbis-dev, libmp3lame-dev, libopus-dev, libtheora-dev, libfdk-aac-dev, libssl-dev, zlib1g-dev

Package: ffmpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Encoder-specific FFmpeg package
 This package contains an ancoder-specifiC version of the FFmpeg multimedia framework.

